.lst-nav {
    padding: 0 10px ;
    list-style: none ;
    height: 100%;
    li {
        padding-right: 25px;
        display: inline-block;
        height: 100%;
        a{
            color : #8c8d90 ; 
            display: block;
            font-weight: 600 ;
            font-size: 14px;
            line-height: 60px;
            text-decoration: none;
            height: 100%;
            &:hover{
                color: #2a41e8 ;
            }
            &:focus {
                color: #2a41e8 ;
                border-bottom: 3px solid #2a41e8;
            }
        }
    }
}