@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-poppins
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all 400ms ease;
}
@media (min-width: 1024px) {
	.main_content {
		margin-left: 300px;
	}

	.mcontainer {
		max-width: 1000px;
		padding: 30px 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

.course_item_flex{
    border-bottom: 1px solid #f0f0f0;
    &:last-child{
        border: none ;
    }
}

.GameItemFlex {
	@apply border-[#f0f0f0] border-[1px] border-solid last:border-none
}

.inputText {
    @apply bg-[#fff] border border-solid border-[#dddfe2] px-5 h-[46px] min-h-[46px] text-[#808080] rounded-md max-w-full w-full block mt-[5px] outline-none focus:border-[#1877f2];
}
.item-nav{
    @apply pr-[25px] inline-block h-full cursor-pointer
}
/*
.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next, .slick-prev {
	@apply !bg-white !z-10 !text-blue-600 before:bg-red-600 before:rounded-full before:!text-2xl ;
}

.slick-next{
	@apply !right-0 ;
}
.slick-prev{
	@apply !left-0;
}
*/